{{template "base" .}}

{{define "content"}}
<div class="container mx-5">
    <div class="row">
        <div class="col">

            <h1>This is the home page</h1>
            <p>this is some text</p>
            <p>Some new text</p>
            <img src="/static/images/pexels-scott-webb-1029599.jpg" alt="house"/>
            <a href="/about">about page</a>
        </div>
        </div>

    </div>
{{end}}